@{
    ViewBag.Title = "Servicios";
}

<div class="container">
    <div class="row">
        <div class="col" style="margin: 5px">
            <div class="card" style="width: 18rem">
                <img src="~/Img/Card/card_1.jpeg" height="150" width="200" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Pastel #2</h5>
                    <p class="card-text" style="text-align: center"> 
                        Tortas
                        <br />
                        $17,900 – $31,900
                    </p>
                    <a href="#" class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col" style="margin: 5px">
            <div class="card" style="width: 18rem">
                <img src="~/Img/Card/card_1.jpeg" height="150" width="200" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Pastel #2</h5>
                    <p class="card-text" style="text-align: center">
                        Tortas
                        <br />
                        $17,900 – $31,900
                    </p>
                    <a href="#" class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col" style="margin: 5px">
            <div class="card" style="width: 18rem">
                <img src="~/Img/Card/card_1.jpeg" height="150" width="200" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Pastel #2</h5>
                    <p class="card-text" style="text-align: center">
                        Tortas
                        <br />
                        $17,900 – $31,900
                    </p>
                    <a href="#" class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col" style="margin: 5px">
            <div class="card" style="width: 18rem">
                <img src="~/Img/Card/card_1.jpeg" height="150" width="200" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Tarta #9</h5>
                    <p class="card-text" style="text-align: center">
                        Tortas
                        <br />
                        $17,900 – $31,900
                    </p>
                    <a href="#" class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col" style="margin: 5px">
            <div class="card" style="width: 18rem">
                <img src="~/Img/Card/card_1.jpeg" height="150" width="200" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Tarta #2</h5>
                    <p class="card-text" style="text-align: center">
                        Tortas
                        <br />
                        $17,900 – $31,900
                    </p>
                    <a href="#" class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col" style="margin: 5px">
            <div class="card" style="width: 18rem">
                <img src="~/Img/Card/card_1.jpeg" height="150" width="200" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Tarta #2</h5>
                    <p class="card-text" style="text-align: center">
                        Tortas
                        <br />
                        $17,900 – $31,900
                    </p>
                    <a href="#" class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>
