<!--
    Crear un nuevo View(Vista)
    Click derecho a la Carpeta
        Home>Add>View (En Ingles) - Activar primera Opccion
        Home>Añadir>Vista (En Español)  - Activar primera Opccion
-->

@{ 
    ViewBag.Title = "Mi Vista";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2> @ViewBag.Title </h2>
            <h3> @ViewBag.Message </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p> Esta es una vista creada </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/imgs/cocacola-logo.png" class="card-img-top" alt="CocaCola">
                <div class="card-body">
                    <h5 class="card-title">Coca Cola</h5>
                    <p class="card-text">
                        Coca-Cola es una bebida azucarada gaseosa vendida a nivel mundial en tiendas,
                        restaurantes y máquinas expendedoras en más de doscientos países o territorios.
                        Es el principal producto de The Coca-Cola Company, de origen estadounidense.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/imgs/fanta-logo.png" class="card-img-top" alt="Fanta">
                <div class="card-body">
                    <h5 class="card-title">Fanta</h5>
                    <p class="card-text">
                        Fanta es una marca de gaseosa, propiedad de la compañía Coca-Cola.
                        Posee diferentes formatos de envase y múltiples sabores.
                        Entre ellos, los más tradicionales son el de naranja y el de limón,
                        aunque existen más de 90 variedades distintas de Fanta en todo el mundo.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/imgs/sptrite-logo.png" class="card-img-top" alt="Sprite">
                <div class="card-body">
                    <h5 class="card-title">Sprite</h5>
                    <p class="card-text">
                        Sprite es una refresco hecho a base de agua carbonatada con sabor a Lima o limón, 
                        incolora y sin cafeína, creada por la empresa "The Coca-Cola Company".
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>




