<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejercicio_8.Properties.Settings.EjerciciosConnectionString" connectionString="Data Source=195.62.47.122;Initial Catalog=Ejercicios;User ID=SA;Password=FantaCovid-19" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
